.input-container{
    margin-top: 10%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    background-color: white;
    padding: 5;
}

.title-bg{
    border-top-right-radius: 20;
    border-top-left-radius: 20;
    margin-top: 5%;
    text-align: center;
}

.tf-container{
    margin: 8% 4% 0 4%;
}