.input-container{
    margin-top: 5%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    background-color: white;
}

.title-bg{
    border-top-right-radius: 20;
    border-top-left-radius: 20;
    margin-top: 5%;
    text-align: center;
}