.float-btn{
    border-style: solid 1 white;
    background-color: #36767e;
    border-radius: 50%;  
    text-align: center;
    color: white;
    font-size: 35;
    padding-top: 20%;  
    width: 75;
    height: 75;
    margin: 15;
}